################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lock
TaskManagerAPI/.vs/TaskManagerAPI/DesignTimeBuild/.dtbcache
TaskManagerAPI/.vs/TaskManagerAPI/DesignTimeBuild/.dtbcache
TaskManagerAPI/.vs/TaskManagerAPI/v16/.suo
TaskManagerAPI/.vs/TaskManagerAPI/v16/Server/sqlite3/storage.ide
TaskManagerAPI/.vs/TaskManagerAPI/v16/Server/sqlite3/storage.ide-shm
TaskManagerAPI/.vs/TaskManagerAPI/v16/Server/sqlite3/storage.ide-wal
TaskManagerAPI/.vs/TaskManagerAPI/DesignTimeBuild/.dtbcache
