<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
</nav>

<h5>Dashboard</h5>
<div class="row">
    <div class="col-lg-3 pb-3" style="background-color:#e9e6e6;">
        <div class="row">
            <div class="col-11 text-white text-center mx-auto rounded pt-2 pb-2 font-weight-bold"
                style="background-color:#a39e9e; font-family:  'Arial Narrow Bold', sans-serif">{{Designation}}
            </div>
            <div class="col-12 text-center mt-2">
                <img src="assets/user.png" width="120px">
            </div>
            <div class="col-12 text-center pt-2 pb-2 font-weight-bold" style="font-family: Tahoma">
                {{Username}}
            </div>
            <div class="col-12 text-center pt-2 pb-2" style="font-family: Arial">TEAM SUMMARY</div>
            <div class="col-12 mb-3">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        NO. OF TEAM MEMBERS
                        <span class="badge badge-secondary badge-pill" style="font-size:13px">{{NoOfTeamMembers}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        TOTAL COST OF ALL PROJECTS
                        <span class="badge badge-secondary badge-pill" style="font-size:13px">$
                            {{TotalCostOfAllProjects}} k</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        PENDING TASKS
                        <span class="badge badge-secondary badge-pill" style="font-size:13px">{{PendingTasks}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        UPCOMING PROJECTS
                        <span class="badge badge-secondary badge-pill"
                            style="font-size:13px">{{UpComingProjects}}</span>
                    </li>
                </ul>
            </div>
            <div class="col-12 text-center pt-2 pb-2" style="font-family: 'Arial Narrow'">CLIENTS</div>
            <div class="col-12">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">ABC Infotech Ltd</li>
                    <li class="list-group-item">2 ABC Infotech Ltd</li>
                    <li class="list-group-item">3 ABC Infotech Ltd</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">box2</div>
    <div class="col-lg-3">box3</div>
</div>